export default [
  {
    files: ["**/*.{js,jsx}"],
    languageOptions: {
      ecmaVersion: "latest",
      sourceType: "module"
    },
    plugins: {
      "react-hooks": require("eslint-plugin-react-hooks"),
      "react-refresh": require("eslint-plugin-react-refresh")
    },
    rules: {
      ...require("@eslint/js").configs.recommended.rules,
      ...require("eslint-plugin-react-hooks").configs.recommended.rules,
      "react-refresh/only-export-components": "warn"
    }
  }
];
